.eFiltr{display:block;}
.eFiltr_form{}
.eFiltr_cat{}
.eFiltr .fltr_cat_zagol{}
.eFiltr  label.disabled{color:#999999;}
.eFiltr .fltr_block{display:inline-block;}
.eFiltr .fltr_block_checkbox{}
.eFiltr .fltr_block_select{}
.eFiltr .fltr_name{}
.eFiltr .fltr_name_checkbox{}
.eFiltr .fltr_name_select{}
.eFiltr .fltr_count{color:#333333;}
.eFiltr .fltr_count:before{content:"("}
.eFiltr .fltr_count:after{content:")"}
.eFiltr  label.disabled .fltr_count{color:#999999;}
.eFiltr .fltr_colors{}
.eFiltr .fltr_colors label{width:15px;height:15px;margin-right:2px;display:inline-block;vertical-align:middle;color:transparent;font-size:0;cursor:pointer;border:solid 1px #ffffff;}
.eFiltr .fltr_colors .fltr_count{color:transparent !important;font-size:0;}
.eFiltr .fltr_colors label.active{border:solid 1px #e71b00;}
.eFiltr .fltr_colors label.disabled{opacity:0.5;cursor:default !important;}
.eFiltr .fltr_colors label input{display:none;}
.eFiltr .fltr_colors label .jq-checkbox{opacity:0;}

.eFiltr .fltr_pattern{}
.eFiltr .fltr_pattern label{margin-right:2px;display:inline-block;cursor:pointer;border:solid 1px #ffffff;position:relative;}
.eFiltr .fltr_pattern .fltr_count{}
.eFiltr .fltr_pattern label input{display:none;}
.eFiltr .fltr_pattern label .jq-checkbox{opacity:0;position:absolute !important;top:0;left:0;}
.eFiltr .fltr_pattern label img{vertical-align:middle;display:inline-block;}
.eFiltr .fltr_pattern label.active  img{border:solid 1px #e71b00;}
.eFiltr .fltr_pattern label.disabled   img{opacity:0.5;cursor:default !important;}

.eFilter_sort_block{}
.eFilter_sort_block .sorter{margin:0 13px;position:relative;}
.eFilter_sort_block .sorter.active{font-weight:500;}
.eFilter_sort_block .sorter.up:after{content:"\f107";font-family:FontAwesome;margin-left:2px;position:absolute;right:-13px;top:center;}
.eFilter_sort_block .sorter.down:after{content:"\f106";font-family:FontAwesome;margin-left:2px;position:absolute;right:-13px;top:center;}


#eFiltr_results_wrapper{position:relative;min-height:64px;}
#eFiltr_results{}
#eFiltr_results_wrapper .eFiltr_loader{position:absolute;top:10px;left:50%;margin-left:-32px;z-index:10;width:64px;height:64px;background:url(loader.GIF) 0 0 no-repeat;display:none;}
