.eFiltr{display:inline-block;}
.eFiltr_form{}
.eFiltr_cat{}
.eFiltr .fltr_cat_zagol{}
.eFiltr  label.disabled{color:#999999;}
.eFiltr .fltr_block{display:inline-block;}
.eFiltr .fltr_block_checkbox{}
.eFiltr .fltr_block_select{}
.eFiltr .fltr_name{}
.eFiltr .fltr_name_checkbox{}
.eFiltr .fltr_name_select{}
.eFiltr .fltr_count{color:#333333;}
.eFiltr .fltr_count:before{content:"("}
.eFiltr .fltr_count:after{content:")"}
.eFiltr  label.disabled .fltr_count{color:#999999;}
.eFiltr .fltr_colors{}
.eFiltr .fltr_colors label{width:15px;height:15px;margin-right:2px;display:inline-block;color:transparent;font-size:0;cursor:pointer;border:solid 1px #ffffff;}
.eFiltr .fltr_colors .fltr_count{color:transparent !important;font-size:0;}
.eFiltr .fltr_colors label.active{border:solid 1px #e71b00;}
.eFiltr .fltr_colors label.disabled{opacity:0.5;cursor:default !important;}
.eFiltr .fltr_colors label input{display:none;}

#eFiltr_results{position:relative;}
#eFiltr_results .eFiltr_loader{position:absolute;top:10px;left:50%;margin-left:-32px;z-index:10;width:64px;height:64px;background:url(loader.GIF) 0 0 no-repeat;display:none;}
